@font-face{
	font-family: innuendo;
	src: url('../font/baskvill.ttf');
}
.all{
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: space-between;
	width:max-content;
	margin:auto;
}
.title{
    border-radius: 0.3em;
    border: 0.6em double gray;
    width: max-content;
    margin: auto;
	margin-bottom: 1em;
}
.title span{
    padding: 0.2em;
    color: red;
    font-size: 175%;
    display: inline-block;
}
.score{
	position:relative;
	font-family: innunedo;
	font-size: 150%;
	float:right;
	padding-right:0.4em;
}
.lives{
	position:relative;
	font-family: innunedo;
	font-size: 150%;
	float:left;
	padding-left:0.4em;
}
.canvasDiv{
	text-align: center;
    border: 0.6em double gray;
	margin-top: 1em;
	margin-bottom: 1em;
    border-radius: 0.3em;
	margin: auto;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	width:max-content;
	height:42.5em;
    
}
.startTextDiv{
	margin-top:-5em;
}
.startText{
	font-size:250%;
	font-family: innuendo;

}
.buttons{
	margin:auto;
	margin:1em;
	border: 0.5em double gray;
	border-radius: 0.2em;
}
.button{
	font-family: innuendo;
	font-size: 105%;
	background-color:lightblue;
	margin:0.1em;
	width:20em;
	border-radius:0.2em;
	border:0.2em solid black;
	cursor: pointer;
}
.play{
	margin-top: 1em;
	margin-bottom: 1em;
	width: max-content;
	border: 0.4em double gray;
	border-radius: 0.3em;
}
.hintDiv{
    border-radius: 0.3em;
    border: 0.6em double gray;
    width: max-content;
    margin: auto;
	margin:1em;
}
.hint{
    padding: 0.2em;
    color: red;
    font-size: 175%;
    display:inline-block;
}
.hints{
	font-size:150%;
}
.mobileArrow{
	display: none;
	background-color: red;
	width:4em;
	height:2em;
}
.copyright{
	position: fixed;
	bottom: 0;
	right: 0;
}
.muteBtn{
	cursor: pointer;
}
.selectCharacter{
	background-color: rgba(100,72,77,1);
	opacity:1;
	margin-left:0.5em;
	margin-right:0.25em;
	text-align: center;
	font-family: innuendo;
	font-size: 125%;
	border:0.25em groove black;
	border-radius:0.25em;
}
.pickCharacter{
	text-align: center;
	font-family:innuendo;
	font-size:175%;
	padding: 0.2em;
}
.modalImg{
	opacity:1;
}
.timer{
	display:table;
	margin:0 auto;
	margin-top:	13.5em;
	font-size: 175%;
	font-family: innuendo;
}

@media (pointer:none), (pointer:coarse) {
	.mobileArrow {
		display: inline;
	}
}